.anticon-delete svg {
    width: 1vw !important;
    height: 3vh;
}


.anticon-edit svg {
    width: 1vw !important;
    height: 3vh;
}

.anticon-save svg {
    width: 1vw !important;
    height: 3vh;
}