.TOTPCustomModal .ant-modal-content {
  padding: 0 !important;
  border-radius: 0.14vw !important;
}
.TOTPCustomModal .ant-modal-header {
  height: 3.89vw !important;
  display: flex;
  align-items: center;
  padding-left: 1.67vw !important;
  margin-bottom: 0 !important;
}

.TOTPCustomModal.ant-modal .ant-modal-close {
  inset-inline-end: 1.12vw !important;
}
