@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #f5f6f7;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f5f6f7;
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
