@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #F5F6F7;
  }
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #F5F6F7;
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}

@layer utilities {
  /* .text-balance {
    text-wrap: balance;
  } */
}